@charset "UTF-8";
body,html{
  padding: 0px;
  margin: 0px;
  height: 100%;
  width: 100%;
  background-color:white;
}
.cabecalho img{
  width:100%;
}
.itemproj{
  color: black;
  text-decoration:none;


}
