@charset "UTF-8";

@font-face {
    font-family: 'AMGDT';
    src: url('fonts/AMGDT.ttf') format('truetype'),
    font-weight: normal;
    font-style: normal;
}

html, body {
  background-image: url("../img/tear/site_bg.png");
  background-size: 100%;
  background-color: black;
  background-repeat:no-repeat;
  margin:0;
  padding:0;
  height: 100%;
}

.tela{
  width: 800px;
  height:800px;
  border: 10px outset #50038A;
  /*--border-style:asd sd*/
  margin-right: auto;
  margin-left: auto;
  position:relative;
  top:40px;
}

.rodape{
  background-color: rgb(0,0,0);
  width: 100%;
  position:fixed;
  bottom:0;
  font-family: "AMGDT";
  font-size: 12px;
}
.rodape p{
  color:white;

}
